* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.btn{   
    display:inline-block ;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    min-width: 118px;
    height: 50px;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
   
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
/* Commnon */
.header{
    background-color: #FFFCF4;
}
.header.fixed{
    position: sticky;
    top: -28px;
}
.header .header-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
   
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #171100;
    font-size: 1.6rem;
    padding: 8px 21px;
    transition: 0.6s ease;
    position: relative;
}
.nav li.active a,
.nav a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
a::after{
    
    position: absolute;
    content: "";
    left: 16px;
    bottom: 6px;
    transition: 0.6s ease-in;
}
.nav li.active:hover a::after{
    position: absolute;
    display: block;
    content: "";
    background-color: #171100;
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 22px;  
}
.header .action{
    margin-left: 49px;
}
.btn-sign-up{
    min-width: 114px;
}
